<%- include("header") -%>

  <div class="box" id = #head>
    <h1> <%= listtitle %> </h1>
  </div>

  <div class="box">
<% item_names.forEach(function(item){ %>
  <div class="item">
    <input type="checkbox">
    <p><%= item.name%> </p>
  </div>
  <% }) %>
  <form class="item" action="/" method="post">
    <input type="text" name="user_input" placeholder="New Item" autocomplete="off">
    <button type="Submit" name="List" value = <%= listtitle %> >+</button>
  </form>
</div>

<%- include("footer") -%>
