<%- include("header") -%>

  <div class="box" id = #head>
    <h1> <%= listtitle %> </h1>
  </div>

  <div class="box">
<% for(var i=0; i < item_names.length; i++) { %>
  <div class="item">
    <input type="checkbox">
    <p><%= item_names[i]%> </p>
  </div>
  <% } %>
  <form class="item" action="/" method="post">
    <input type="text" name="user_input" placeholder="New Item" autocomplete="off">
    <button type="Submit" name="List" value = <%= listtitle %> >+</button>
  </form>
</div>

<%- include("footer") -%>
